## Settings file was created by plugin Creature Level & Loot Control v2.5.1
## Plugin GUID: org.bepinex.plugins.creaturelevelcontrol

[1 - General]

## If the mod is enabled.
# Setting type: Boolean
# Default value: true
Enabled = true

## Health increase per player in multiplayer in percent.
# Setting type: Single
# Default value: 40
# Acceptable value range: From 0 to 200
HP increase per player in multiplayer (percentage) = 100

## Damage increase per player in multiplayer in percent.
# Setting type: Single
# Default value: 4
# Acceptable value range: From 0 to 200
DMG increase per player in multiplayer (percentage) = 0

## Makes all creatures and bosses always scale as if the specified number of players are present.
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 25
Fixed player count (0 is disabled) = 0

## Range that other players have to be in in order to count towards the multiplayer scaling. Has no effect, if the fixed player count is set to something else than 0.
# Setting type: Single
# Default value: 200
# Acceptable value range: From 0 to 10000
Multiplayer scaling per player range (0 is unlimited) = 200

## Maximum distance for the nameplate to be shown on mouseover.
# Setting type: Single
# Default value: 50
# Acceptable value range: From 0 to 100
Nameplate display on mouseover range = 50

[2 - Creatures]

## Sets the level up chances of all creatures.
# Setting type: Difficulty
# Default value: Medium
# Acceptable values: Custom, Very_easy, Easy, Medium, Hard, Very_hard, Insane
Difficulty = Hard

## Change the second factor used to calculate the level up chances.
# Setting type: DifficultySecondFactor
# Default value: BossesKilled
# Acceptable values: None, World_level, Distance, BossesKilled
Second factor = World_level

## Creatures can spawn with special effects, making them a lot more difficult to kill.
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Creatures can spawn with special effects = On

## Sets the minimum stars for all creatures. Does not affect custom difficulty.
# Setting type: MinimumSpawnLevel
# Default value: None
# Acceptable values: None, One, Two, Three, Four, Five
Minimum stars = One

## Sets the maximum stars for all creatures. Does not affect custom difficulty.
# Setting type: MaximumSpawnLevel
# Default value: Five
# Acceptable values: None, One, Two, Three, Four, Five
Maximum stars = Five

## Time until camps and dungeons respawn in minutes (0 = disabled, 20 = one ingame day).
# Setting type: Int32
# Default value: 20
Time until camps and dungeons respawn in minutes (0 means disabled, 20 is one ingame day) = 1

## Increases the size of creatures per star.
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 0 to 40
Creature size increase per star (percentage) = 10

## If creature size will be increased in dungeons as well, where they might get stuck if they get too big.
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Increase creature size even in dungeons (where they might get stuck) = Off

[3 - Loot]

## Chance for additional loot per star.
# Setting type: Int32
# Default value: 50
# Acceptable value range: From 0 to 100
Chance for additional loot per star = 100

## Multiplies the items dropped by all creatures.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 1 to 5
Multiplier for dropped creature items = 1

## Multiplies the items dropped by all creatures.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 1 to 5
Multiplier for dropped boss items = 1

## If creatures can drop multiple trophies.
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Creatures can drop multiple trophies = On

## If bosses can drop multiple trophies.
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Bosses can drop multiple trophies = On

## Multiplies the items dropped by all passive creatures like Crows and Seagulls.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 1 to 5
Drop multiplier for passive creatures (like Seagulls and Crows) = 5

[4 - Bosses]

## Bosses can spawn with special effects, making them a lot more difficult to kill.
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Bosses can spawn with special effects = On

## Level chances for bosses. Start with 1 star, from left to right, as many stars as you want. 0 star chance will be automatically calculated from the remainder.
# Setting type: String
# Default value: 0, 0, 0, 0, 0, 0, 0, 0, 0
Star chances for bosses (percentages) = 0, 0, 0, 0, 0, 0, 0, 0, 0

## Increases the size of bosses per star.
# Setting type: Int32
# Default value: 5
# Acceptable value range: From 0 to 40
Boss size increase per star (percentage) = 5

Minimum boss stars = One

Maximum boss stars = Five

[5 - Custom level chances]

## Chances for stars at world level 0 in percent. As many stars as you want from left to right, comma separated. Start with 1 star. 0 star chance will be automatically calculated using the remainder. Example: 30, 5.5, 2.25, 5, 10, 10, 3
# Setting type: String
# Default value: 10, 2, 0, 0, 0
Chances for stars at world level 0 (percent) = 10, 2, 0, 0, 0

## Chances for stars at world level 1 in percent. As many stars as you want from left to right, comma separated. Start with 1 star. 0 star chance will be automatically calculated using the remainder. Example: 30, 5.5, 2.25, 5, 10, 10, 3
# Setting type: String
# Default value: 15, 5, 1, 0, 0
Chances for stars at world level 1 (percent) = 15, 5, 1, 0, 0

## Chances for stars at world level 2 in percent. As many stars as you want from left to right, comma separated. Start with 1 star. 0 star chance will be automatically calculated using the remainder. Example: 30, 5.5, 2.25, 5, 10, 10, 3
# Setting type: String
# Default value: 18, 8, 2, 0.3, 0
Chances for stars at world level 2 (percent) = 18, 8, 2, 0.3, 0

## Chances for stars at world level 3 in percent. As many stars as you want from left to right, comma separated. Start with 1 star. 0 star chance will be automatically calculated using the remainder. Example: 30, 5.5, 2.25, 5, 10, 10, 3
# Setting type: String
# Default value: 22, 10, 3, 0.5, 0.3
Chances for stars at world level 3 (percent) = 22, 10, 3, 0.5, 0.3

## Chances for stars at world level 4 in percent. As many stars as you want from left to right, comma separated. Start with 1 star. 0 star chance will be automatically calculated using the remainder. Example: 30, 5.5, 2.25, 5, 10, 10, 3
# Setting type: String
# Default value: 25, 12, 5, 1, 0.5
Chances for stars at world level 4 (percent) = 30, 15, 8, 3, 1

## Chances for stars at world level 5 in percent. As many stars as you want from left to right, comma separated. Start with 1 star. 0 star chance will be automatically calculated using the remainder. Example: 30, 5.5, 2.25, 5, 10, 10, 3
# Setting type: String
# Default value: 30, 15, 8, 3, 1
Chances for stars at world level 5 (percent) = 60, 30, 16, 6, 2

[5 - Distance from Spawn]

## Distance from spawn for level 1 start.
# Setting type: Int32
# Default value: 1500
# Acceptable value range: From 0 to 10500
Distance from spawn for level 1 start = 0

## Distance from spawn for level 2 start.
# Setting type: Int32
# Default value: 3000
# Acceptable value range: From 0 to 10500
Distance from spawn for level 2 start = 0

## Distance from spawn for level 3 start.
# Setting type: Int32
# Default value: 4500
# Acceptable value range: From 0 to 10500
Distance from spawn for level 3 start = 0

## Distance from spawn for level 4 start.
# Setting type: Int32
# Default value: 6000
# Acceptable value range: From 0 to 10500
Distance from spawn for level 4 start = 0

## Distance from spawn for level 5 start.
# Setting type: Int32
# Default value: 7500
# Acceptable value range: From 0 to 10500
Distance from spawn for level 5 start = 0

[5 - World level]

## Days needed to pass before your world gets to world level 1.
# Setting type: Int32
# Default value: 20
World level 1 start (days) = 100

## Days needed to pass before your world gets to world level 2.
# Setting type: Int32
# Default value: 50
World level 2 start (days) = 200

## Days needed to pass before your world gets to world level 3.
# Setting type: Int32
# Default value: 100
World level 3 start (days) = 300

## Days needed to pass before your world gets to world level 4.
# Setting type: Int32
# Default value: 250
World level 4 start (days) = 400

## Days needed to pass before your world gets to world level 5.
# Setting type: Int32
# Default value: 500
World level 5 start (days) = 500

[6 - Creature Affix chances]

## Chance for Aggressive affix creatures to spawn (percentage).
# Setting type: Single
# Default value: 20
# Acceptable value range: From 0 to 100
Chance for Aggressive affix to spawn (percentage) = 10

## Chance for Curious affix creatures to spawn (percentage).
# Setting type: Single
# Default value: 20
# Acceptable value range: From 0 to 100
Chance for Curious affix to spawn (percentage) = 10

## Chance for Faster Movement affix creatures to spawn (percentage).
# Setting type: Single
# Default value: 10
# Acceptable value range: From 0 to 100
Chance for Faster Movement affix to spawn (percentage) = 10

## Chance for Regenerating affix creatures to spawn (percentage).
# Setting type: Single
# Default value: 10
# Acceptable value range: From 0 to 100
Chance for Regenerating affix to spawn (percentage) = 10

## Chance for Splitting affix creatures to spawn (percentage).
# Setting type: Single
# Default value: 5
# Acceptable value range: From 0 to 100
Chance for Splitting affix to spawn (percentage) = 1

## Chance for Armored affix creatures to spawn (percentage).
# Setting type: Single
# Default value: 3
# Acceptable value range: From 0 to 100
Chance for Armored affix to spawn (percentage) = 10

[7 - Boss Affix chances]

## Chance for Reflective affix bosses to spawn (percentage).
# Setting type: Single
# Default value: 25
# Acceptable value range: From 0 to 100
Chance for Reflective affix to spawn (percentage) = 25

## Chance for Shielded affix bosses to spawn (percentage).
# Setting type: Single
# Default value: 25
# Acceptable value range: From 0 to 100
Chance for Shielded affix to spawn (percentage) = 25

## Chance for Mending affix bosses to spawn (percentage).
# Setting type: Single
# Default value: 25
# Acceptable value range: From 0 to 100
Chance for Mending affix to spawn (percentage) = 25

## Chance for Summoner affix bosses to spawn (percentage).
# Setting type: Single
# Default value: 25
# Acceptable value range: From 0 to 100
Chance for Summoner affix to spawn (percentage) = 25

